@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&family=Outfit&family=Sixtyfour&display=swap');

body {
    background-color: blueviolet;
    margin: 0;
    height: 100vh;
}

.cont {
    background-color: rgb(145, 7, 167);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    list-style: none;
    margin: 0;
    border-radius: 10px;
}

button {
    background-color: rgb(145, 7, 167);
    border: 0;
    width: 90px;
    cursor: pointer;
    color: rgb(207,181,59);
    font-size: 1.2rem;
    margin: 0;
    font-weight: bolder;
}

button:hover {
    transition-duration: 0.4s;
    background-color: rgb(52, 51, 41);
    border: 0;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: blueviolet;
    margin: 0;
}

p {
    font-size: 2.25rem;
    font-weight: 600;
    text-align: left;
    margin: 0;
    margin-left:15px;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.ti {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    width: 200px;
    height: 350px;
}

.aa {
    margin-left: 20px;
}

.ma {
    width: 300px;
}

.my {
    width: 200px;
}

.mm {
    width: 50px;
}

span {
    margin-left: 40%;
    font-weight: 800;
    color: rgb(255,223,0);
}

@media (max-width: 767px) {

    .main {
        display: inline-block;
        width: 270px;
        margin: 0;
        text-align: left;
    }

    .cont {
        display: flex;
        float: right;
        left: 70%;
        height: 100%;
        width: 70px;
        margin: 0;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    button {
        width: 70px;
        margin: 0;
        text-align: center;
    }

    p {
        font-size: 20px;
    }

    span {
        margin: 0;
    }

    .ti {
        margin: 0;
    }

    .mm {
        display: flex;
        margin-left: 50px;
        margin-right: auto;
        width: 80%;
    }

    .zx {
        width: 50px;
    }
}
